.stats{

    width: 90vw;
    margin-top: 150px;
    height: 15vw;
    margin-left: 5vw;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}



.stats_card{

    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background-color: blueviolet; */
    margin: 10px;
}

.stats-card-icon{

    width: auto;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}