.stats{

    width: 90vw;
    margin-top: 150px;
    height: 15vw;
    margin-left: 5vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}



.stats_card{

    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background-color: blueviolet; */
    margin: 10px;
}

.stats-card-icon{

    width: auto;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

@media screen and (max-width: 542px) {

    .stats{
        height: fit-content;
    }

    .stats_card{

        width: 200px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 10px;
    }
   
   
   }