.cart{

    width: 80vw;
    height: fit-content;

    margin-left: 10vw;
    padding-top: 10vh;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: row;
}

.cart_left{

    flex: 0.7;
}

table{

    border-spacing: 20px;
    height: 300px;
    overflow-y: auto;

}

.cart_right{
    flex: 0.3;
    /* background-color: aliceblue; */
    /* border: 2px solid black; */
    padding-left: 20px;
}

th{
    width: 250px;
    text-align: left;
  
}


.cart_qty_icon{

    width: auto;
    height: 15px;
   
}

.cart_qty_delete{
    width: auto;
    height: 20px;

}

.cart_qty{

    /* background-color: blue; */
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-self: center;
    
}

.product_cart_card{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.cart_product_img{

    height: 70px;
    width: auto;
    display: inline;
}

.payment_method{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 16px;
}

.payment_method label{

    font-size: 14px;
    margin-bottom: 15px;
    color: grey;
}

.checkout{

    /* margin-left: 100px; */

    width: 250px;

    margin-top: 80px;
   
}

.address_details input{

    padding: 10px;

    border: 0px;
    border-bottom: 0.5px solid gray;
    margin-bottom: 10px;
    margin-top: 30px;

}

.address_details label{

    color: gray;
    font-size: 15px;
}

.payment_card{

    display: flex;
    flex-direction: column;
}


