.banner{
    width: 100%;
}

.single_banner{

    display: flex !important;
    flex-direction: row;
    height: 380px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.banner_image{
    width: 350px;
    height: auto;
    margin-left: 100px;
    background-color: transparent;

    height: 330px;
    width: 330px;
    object-fit: contain;
}

@media screen and (max-width: 542px) {
  

    .banner_image{
        width: 200px;
    }

    .single_banner h1{

        margin-left: 20%;

        
    }
   
   }

